<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppServices.Properties.Settings>
            <setting name="Instance" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ForteData</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Forte</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>etrof</value>
            </setting>
            <setting name="LocalHost" serializeAs="String">
                <value>Local</value>
            </setting>
            <setting name="MoistureUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WeightUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bSerRemote" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbServerSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bWLOption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComBineSample" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ScanSec" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MoistureType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MenuChecked" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProdDayEnd" serializeAs="String">
                <value>2024-02-01</value>
            </setting>
            <setting name="RealTimeCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GraphCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CombineCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDefaultFields" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="ArchiveCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WetLayerCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WLTopGraph" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="bDropOption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaleInDrop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DualGraphCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DpProfileChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DpPostionChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DropHitoLow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DropInChart" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WLTrendCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </AppServices.Properties.Settings>
    </userSettings>
</configuration>