<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModWetLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModWetLayer.Properties.Settings>
            <setting name="WLDayEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="CsvFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="WLMinYAxis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLMaxYAxis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLMinLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLMaxLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLYAxisInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLHiColorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLNormColorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLLoColorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLAlarmIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLOkIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoodColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BadColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphAutoScale" serializeAs="String">
                <value>False</value>
            </setting>
        </ModWetLayer.Properties.Settings>
    </userSettings>
</configuration>